" imap jj <Esc>
" set clipboard=unnamed
" set clipboard^=ideaput
set dialogescape=off
set oneline=off
set number relativenumber
set showmode
set showcmd
set editor

set ignorecase
set smartcase
set incsearch
" set hlsearch
set visualbell

set scrolloff=10
" set scrolljump=5
set sidescroll=10
set sidescrolloff=5

let mapleader=" "

" ==== IDEA-Vim Plugins ====
set surround
set multiple-cursors
set argtextobj
set textobj-entire
" set ReplaceWithRegister
" set easymotion
set highlightedyank
set NERDTree
set which-key
set quickscope
set notimeout
set commentary
set ideajoin
set ideastatusicon=gray
set idearefactormode=keep
" set timeoutlen=-1
set idearefactormode=keep

" Which key settings
let g:WhichKey_DefaultDelay = 0
let g:WhichKey_FontSize = 13
let g:WhichKey_ShowVimActions = "true"

" ==== Project Tool Window ====
map <leader>e :NERDTree<CR>
map <leader>E :NERDTreeFind<CR>
let g:NERDTreeMapActivateNode = 'l'
let g:NERDTreeMapJumpParent = 'h'

" ==== Quickscope ====
let g:qs_highlight_on_keys = ['f', 'F', 't', 'T']
let g:qs_disable_for_diffs = 1

" === Clipboard ===
map <leader>y <Action>(EditorCopy)
map <leader>p <Action>(EditorPaste)

" ==== IDE actions ====
map <leader>r <Action>(RenameElement)

" Buffers
map <leader>bb <Action>(RecentFiles)
map <leader>bx <Action>(CloseContent)

" Goto commands
map <leader>f <Action>(GotoFile)
map <leader>F <Action>(FindInPath)
map <leader>c <Action>(GotoClass)
map <leader>s <Action>(GotoSymbol)
map <leader>a <Action>(GotoAction)
map <leader>S <Action>(FileStructurePopup)

" Run & Debug
map <leader>R <Action>(Run)
map <leader>x <Action>(Stop)
map <leader>dd <Action>(Debug)
map <leader>dt <Action>(ActivateDebugToolWindow)
map <leader>db <Action>(ToggleLineBreakpoint)

" === Debug Actions
map <leader>dn <Action>(StepOver)
map <leader>di <Action>(StepInto)
map <leader>dev <Action>(EvaluateExpression)
map <leader>dr <Action>(Resume)

" Git
map <leader>ga <Action>(Annotate)
map <leader>gh <Action>(Vcs.ShowTabbedFileHistory)
map <leader>gc <Action>(CheckinProject)


" Local History
map <leader>lh <Action>(LocalHistory.ShowHistory)

map <leader>/ <Action>(CommentByLineComment)
map <leader>= <Action>(ReformatCode)

map <leader>i <Action>(OptimizeImports)

" Terminal

map <leader>t <Action>(ActivateTerminalToolWindow)


" Navigation bar
map <leader>. <Action>(ShowNavBar)

" Menu
map <leader>, <Action>(NavBarToolBar)

" Errors
map <leader>gen <Action>(GotoNextError)
map <leader>gep <Action>(GotoPreviousError)

" Documentation
map <leader>K <action>(QuickJavaDoc)
map <leader>k <action>(ParameterInfo)

""" === WhichKey ===
" Prefix groups
let g:WhichKeyDesc_debug_group      = "<leader>d [D]ebug"
let g:WhichKeyDesc_git_group        = "<leader>g [G]it"
let g:WhichKeyDesc_ui_group         = "<leader>. UI / NavBar"

" Project / Files
let g:WhichKeyDesc_nerdtree_toggle  = "<leader>e Toggle NERDTree"
let g:WhichKeyDesc_nerdtree_find    = "<leader>E Reveal current file"
let g:WhichKeyDesc_buffers          = "<leader>b Buffers"
let g:WhichKeyDesc_recent_files     = "<leader>bb Recent files"
let g:WhichKeyDesc_close_file       = "<leader>bx Close file"
let g:WhichKeyDesc_goto_file        = "<leader>f Goto file"
let g:WhichKeyDesc_find_in_path     = "<leader>F Find in path"
let g:WhichKeyDesc_goto_class       = "<leader>c Goto class"      " ⚠ conflicts with <leader>c Stop (see note)
let g:WhichKeyDesc_goto_symbol      = "<leader>s Goto symbol"
let g:WhichKeyDesc_goto_action      = "<leader>a Goto action"
let g:WhichKeyDesc_file_structure   = "<leader>S File structure"

" Run & Debug (prefix + actions)
let g:WhichKeyDesc_run              = "<leader>R Run"
let g:WhichKeyDesc_stop             = "<leader>x Stop"
let g:WhichKeyDesc_debug_default    = "<leader>dd Debug (default)"
let g:WhichKeyDesc_debug_tool       = "<leader>dt Debug tool window"
let g:WhichKeyDesc_breakpoint       = "<leader>db Toggle breakpoint"
let g:WhichKeyDesc_step_over        = "<leader>dn Step over"
let g:WhichKeyDesc_step_into        = "<leader>di Step into"
let g:WhichKeyDesc_eval_expr        = "<leader>dev Evaluate expression"
let g:WhichKeyDesc_resume           = "<leader>dr Resume"

" Git (prefix + actions)
let g:WhichKeyDesc_git_annotate     = "<leader>ga Annotate (blame)"
let g:WhichKeyDesc_git_history      = "<leader>gh File history"
let g:WhichKeyDesc_git_commit       = "<leader>gc Commit"

" Editing / Clipboard
let g:WhichKeyDesc_copy             = "<leader>y Copy"
let g:WhichKeyDesc_paste            = "<leader>p Paste"
let g:WhichKeyDesc_toggle_comment   = "<leader>/ Toggle comment"
let g:WhichKeyDesc_reformat         = "<leader>= Reformat code"
let g:WhichKeyDesc_opt_imports      = "<leader>i Optimize imports"
let g:WhichKeyDesc_rename           = "<leader>r Rename element"

" UI / Tools
let g:WhichKeyDesc_navbar_show      = "<leader>. Show NavBar"
let g:WhichKeyDesc_navbar_toolbar   = "<leader>, NavBar toolbar"
let g:WhichKeyDesc_terminal         = "<leader>t Terminal"

" Errors
let g:WhichKeyDesc_next_error       = "<leader>gen Next error"
let g:WhichKeyDesc_prev_error       = "<leader>gep Previous error"

" Documentation Reader
let g:WhichKeyDesc_javadoc          = "<leader>K Quick Java Doc"
let g:WhichKeyDesc_parameter_info   = "<leader>k Parameter Info"

" Local History
let g:WhichKeyDesc_local_history    = "<leader>lh Local History"
